
---
	import Hotkeys from "../dev/Hotkeys.jsx"
	import DEV from '../dev/DEV.astro';
	import CMDK from '../dev/CMDK-wrapper.astro';
	import Nav from "../components/Nav.astro"
	import DarkmodeToggle from "../components/DarkmodeToggle.jsx"
	import Footer from "../components/Footer.astro"
	import Cultures from "../components/Cultures.astro";
	import client from '../umbraco-client';

	// SEO
	const { name, path, id, cultures } = Astro.props;
	const description = "This is a description placeholder for this website.";
	const ogImage = { url:"https://placehold.co/1200x630" }
	let UMBRACO_ROOT_NODE =  import.meta.env.UMBRACO_ROOT_NODE;

	// Global state
	let currentSlug = Astro.params.slug || UMBRACO_ROOT_NODE;
	let origin = new URL(Astro.url).origin;
	let preview = Astro.url.searchParams.get("preview");
	const pageData = await client.getRootData(origin,currentSlug,preview).then(res => res);
	const { properties } = pageData || {};
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
  		<link rel="sitemap" href="/sitemap-index.xml" />
		<!-- SEO -->
		<title>{name}</title>
		<meta name="description" content={description}>

		<!-- Facebook Meta Tags -->
		<meta property="og:type" content="website">
		<meta property="og:title" content={name}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content={ogImage?.url}>

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content={name}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content={ogImage?.url}>

	</head>
	<body >
		<DEV/>
		<CMDK client:load currentId={id}/>
		<Hotkeys client:load currentId={id}/>
		<div class="page">
			<Nav path={path} navMenu={properties?.navMenu}/>
			<Cultures {cultures}/>

			<main class="content">
				<slot />
			</main>

			<DarkmodeToggle client:only/>
			<div id="darkmode-status"></div>
			<Footer/>
		</div>

	</body>
</html>
<script>
    import { darkmode } from '../globalState';
	darkmode.subscribe(dm => {
		document.querySelector("#darkmode-status").innerHTML = dm;
	});
</script>
<!-- 
<script define:vars={{ properties: properties}} type="module">
	import { atom } from 'nanostores';
	export const globalProps = atom(properties);
</script> -->

<!-- PAGE LAYOUT -->
<style>
	.page{display:flex;flex-direction: column;justify-content: space-between;}
	footer {
		margin-top: auto;
		padding:1rem 0;
		display: flex;
		align-items: center;
		gap: 3rem;
	}
	.content {
		margin-bottom: auto;
	}

</style>

<!-- GLOBAL -->
<style is:global>
	body {color: white;}html {background: #13151a;}
	html {
    	overflow: hidden;
		font-family: system-ui, sans-serif;
	}
	a {
		color: inherit;
		text-underline-offset: .3em;
	}
	body {
		overflow-y: auto;
		-webkit-overflow-scrolling:touch;
		margin: auto;
		max-width: 1200px;
		width: calc(100% - 2rem);
		font-size: 18px;
  		overflow-anchor: none;
	}
	html,body,.page {height:100%;}
</style>