
---
import Hotkeys from "../dev/Hotkeys.jsx"
import DEV from '../dev/DEV.astro';
import CMDK from '../dev/CMDK-wrapper.astro';
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro"

// SEO
const { name, path, id } = Astro.props;
const description = "This is a description placeholder for this website.";
const ogImage = { url:"https://placehold.co/1200x630" }
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
  		<link rel="sitemap" href="/sitemap-index.xml" />
		<!-- SEO -->
		<title>{name}</title>
		<meta name="description" content={description}>

		<!-- Facebook Meta Tags -->
		<meta property="og:type" content="website">
		<meta property="og:title" content={name}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content={ogImage?.url}>

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content={name}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content={ogImage?.url}>

	</head>
	<body >
		<DEV/>
		<CMDK/>
		<Hotkeys client:load currentId={id}/>

		<div class="page">
			<Nav path={path}/>

			<main class="content">
				<slot />
			</main>

			<Footer/>
		</div>

	</body>
</html>

<!-- PAGE LAYOUT -->
<style>
	.page{display:flex;flex-direction: column;justify-content: space-between;}
	footer {
		margin-top: auto;
		padding:1rem 0;
		display: flex;
		align-items: center;
		gap: 3rem;
	}
	.content {
		margin-bottom: auto;
	}

</style>

<!-- GLOBAL -->

<style is:global>
	html {
    overflow: hidden;
 }

body {
    overflow-y: auto;
    -webkit-overflow-scrolling:touch;
}
    h1 {
        color: rgb(58, 206, 38);
    }
	a {
		color: inherit;
		text-underline-offset: .3em;
	}
  	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	body {
		margin: auto;
		max-width: 1200px;
		width: calc(100% - 2rem);
		color: white;
		font-size: 18px;
  		overflow-anchor: none;
	}
	html,body,.page {height:100%;}
	
</style>