
---
const { name, path, id } = Astro.props;
import Hotkeys from "../dev/Hotkeys.jsx"
import CMDK from '../dev/CMDK-wrapper.astro';
const description = "This is a description placeholder for this website.";
const ogImage = "https://via.placeholder.com/1200x630";
import Nav from "../components/Nav.astro"
import Crumbs from "../components/Crumbs.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
  		<link rel="sitemap" href="/sitemap-index.xml" />
		<!-- SEO -->
		<title>{name}</title>
		<meta name="description" content={description}>

		<!-- Facebook Meta Tags -->
		<meta property="og:type" content="website">
		<meta property="og:title" content={name}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content={ogImage}>

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content={name}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content={ogImage}>

	</head>
	<body >
		<CMDK/>
		<Hotkeys client:load currentId={id}/>
		<div class="page">
			<Nav/>
			<main>
				<Crumbs path={path}/>
				<slot />
			</main>
			<footer>
			</footer>
		</div>
	</body>
</html>

<!-- PAGE LAYOUT -->
<style>
	html,body,.page {height:100%;}
	.page{display:flex;flex-direction: column;justify-content: space-between;}
	footer {
		margin-top: auto;
		padding:1rem 0;
		display: flex;
		align-items: center;
		gap: 3rem;
	}
</style>

<!-- GLOBAL -->

<style is:global>
    h1 {
        color: rgb(58, 206, 38);
    }
	a {
		color: inherit;
		text-underline-offset: .3em;
	}
  	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	body {
		margin: auto;
		padding: 0 1rem;
		width: 1200px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 18px;
	}
</style>